.GameOverWindow {
    position: absolute;

    width: 55%;
    height: 30%;

    padding-top: 3%;
    
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    
    border-radius: 5%;
    background-color: #202020;
    text-align: center;
    font-size: 3vmin;
    color: white;
    opacity: 90%;
    
    z-index: 1;
}

.GameOverButton {
    margin-top: 10%;
    font-size: 3vmin;
    width: 60%;

    border-radius: 1vw;

    cursor: pointer;
}