.Tile {
    width: 100%;
    height: 100%;

    text-align: center;
    transition: background-color 0.5s;
}

.black {
    background-color: #7C4C3E;
}

.white {
    background-color: #595959;
}

.underCheck {
    background-color: #c92424;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: #23AD4A;
}

.moved {
    background-color: #bf9d52;
}

.path {
    background-color: #1E7824;
}

.Piece {
    transform: translate(0, 15%);

    height: 80%;
}