.SideWindow {
    width: 80%;
    height: 40%;
    position: relative;
    top: calc(50% - 30vmin);
    left: 13%;

    background-color: #45423f;
    color: white;

    text-align: center;
    
    border-radius: 1vw;

    box-shadow: 10px 10px 20px black;
}

.SideWindow-Block {
    position: relative;

    padding-top: 5%;
    height: 40%;
}

.SideWindow-Header {
    font-size: 3vmin;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 2%;

    text-shadow: 1px 2px 3px black;
}

.SideWindow-SearchDepth {

}

.SideWindow > label {
    font-size: 10rem;
}

input, label, select, option {
    cursor: pointer;
}

.SideWindow-Radio {
    position: relative;

    height: 25%;
}

input {
    margin-right: 2%;
}

select {
    box-shadow: 2px 2px 3px black;

    border-radius: 10px;
    width: 40%;
    height: 30%;
    font-size: 3vmin;
    text-align: center;
}

.SideWindow-RestartButton {
    background-color: #B51F1F;
    color: white;

    margin-top: 5%;

    font-size: 3vmin;
    width: 50%;
    height: 15%;

    border-radius: 1vw;
    cursor: pointer;
    text-shadow: 1px 1px 3px black;
    box-shadow: 2px 2px 3px black;
}

@media screen and (max-width: 1000px) {
    .SideWindow {
        top: 3%;
        width: 70%;
        left: 15%;
    }
}