.Description {
    width: 80%;
    height: 25%;
    position: relative;
    top: calc(50% - 41vmin);
    left: 13%;

    background-color: #45423f;
    color: white;

    text-align: center;
    
    border-radius: 1vw;

    box-shadow: 10px 10px 20px black;
}

h1 {
    padding-top: 5%;

    font-size: 5vmin;
    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 2%;

    text-shadow: 1px 2px 3px black;
}

h2 {
    font-size: 3vmin;

    padding-left: 8%;
    padding-right: 8%;
    margin-bottom: 2%;

    text-shadow: 1px 2px 3px black;
}

a {
    color: wheat;
}

@media screen and (max-width: 1000px) {
    .Description {
        top: 0%;
        width: 70%;
        left: 15%;
    }
}